/* Homepage design */
.app-homepage {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner-chess.jpeg');
    background-position: top center;

    display: flex;
    align-items: center;

    color: #fff;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

    position: relative;
    z-index: -1;
    margin-bottom: 3rem;
}

.app-homepage .landing-page {
    width: 80%;
    margin: 0 auto;
    animation: slide-left 1s ease-in-out;
}

.app-homepage .landing-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.app-homepage .landing-page p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.app-homepage .scroll-indication {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    animation: scroll-indication-animation 1s ease-in-out;
}

.app-homepage .scroll-indication::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1rem;

    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: translateY(-3px) rotate(-45deg);
}

/* Homepage contents design */
section.homepage-section {
    --background: #fff;
    --text-color: #1f1f1f;
    width: 100%;
    margin: 4rem 0;

    color: var(--text-color);
}

section.homepage-section.dark {
    --background: #1f1f1f;
    background: #1f1f1f;
    padding: 3rem 0;
    --text-color: #fff;
}

section.homepage-section p {
    margin-bottom: 1rem;
}

.homepage-section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/**
 * Animations
 */
section.homepage-section h2.unvisible,
section.homepage-section div.content.unvisible,
section.homepage-section div.splitted.unvisible {
    opacity: 0;
}

section.homepage-section h2,
section.homepage-section div.content,
section.homepage-section div.splitted {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

section.homepage-section h2.animation {
    -webkit-animation: slide-left 1s ease-in-out;
    animation: slide-left 1s ease-in-out;
}

section.homepage-section div.content.animation,
section.homepage-section div.splitted.animation {
    -webkit-animation: slide-right 1s ease-in-out;
    animation: slide-right 1s ease-in-out;
}

a.demo-link {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: fit-content;

    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    text-decoration: none;

    position: relative;

    transition: .2s ease-in-out;
}

a.demo-link:hover {
    background: #fff;
    --text-color: #000;
}

